{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}"
    alt="todo list">{% endblock %}

{% block body %}
<div class="row">
    {% for task in tasks %}
    <div class="card mr-3 mb-3" style="width: 18rem;">
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                {% if task.isDone %}<img src="{{ asset('img/tick.svg') }}" height="16px">{% else %}<img src="{{ asset('img/close.svg') }}" height="16px">{% endif %}
            </h4>
            <p class="list-group-item list-group-item-secondary">Crée le {{ task.createdAt | date('d-m-Y') }} </br> par <strong>{{ task.user.username }}</strong> </p>
            <p class="card-text">{{ task.content }}</p>
            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                <button class="btn btn-success btn-sm pull-right">
                    {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                </button>
            </form>
            {% if app.user.roles is defined %}
                {% if app.user.roles|first == "ROLE_ADMIN" or app.user == task.user %}
                <form action="{{ path('task_delete', {'id' : task.id }) }}">
                    <button class="btn btn-danger btn-sm pull-right mt-2">Supprimer</button>
                </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Il n'y a pas encore de tâche terminée. 
    </div>
    {% endfor %}
</div>
{% endblock %}